{% extends 'base.html.twig' %}

{% block title %}Enrollment{% endblock %}

{% block body %}
    <h1>Enrollment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enrollment.id }}</td>
            </tr>
            <tr>
                <th>EnrollmentDate</th>
                <td>{{ enrollment.enrollmentDate ? enrollment.enrollmentDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_enrollment_index') }}">back to list</a>

    <a href="{{ path('app_enrollment_edit', {'id': enrollment.id}) }}">edit</a>

    {{ include('enrollment/_delete_form.html.twig') }}
{% endblock %}
